{% extends "admin/change_list.html" %}
{% load static %}

{% block extrahead %}
    <script src="https://cdn.plot.ly/plotly-3.3.0.min.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
<h1>Dashboard Analitik Model Linear Regression</h1>
<div id="plotly-chart" style="height:500px;"></div>
<script>
    {#var fig = JSON.parse('{{ fig|safe }}');#}
    var fig = {{ fig|safe }};
    console.log(fig);
    document.addEventListener('DOMContentLoaded', function() {
        Plotly.newPlot('plotly-chart', fig.data, fig.layout);
    });
    {#Plotly.newPlot('plotly-chart', fig.data, fig.layout);#}
</script>

{% endblock %}
